/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span,
 a ul, li {
  margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

.nav-bar{
    width: 100%;
    height: 66px;
    background-color: white;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    left:10;
    top:0;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.logo{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.nav-bar-left, .nav-bar-right{
    display: flex;
    position: relative;
    padding-left:0px;
}

.logo-black{
    width: 28px;
    margin-left:-13px;
}

.nav-bar-right button{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color:black;
    font-size: 16px;
    border:none;
    height: 45px;
}

.demo-login:hover{
    background-color: #1E563F!important;
    color: white!important;
}

.nav-bar-right  button:hover{
    color:#3FA379;
    cursor: pointer;
}


.nav-bar-right .demo-login{
    width: 130px;
    background-color: #52CF9A;
    border-radius: 4px;
}


.nav-bar li{
     list-style: none;
     margin: 0 10px;
     color:black;
     font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}


 .nav-bar .logo{
     font-weight: 400;
     font-size: 25px;
     letter-spacing: -1px;
 }

 .home-1{
     height:800px;
     background-color: #52CF9A;
     padding-top:130px;
     display: flex;
     justify-content: center;
     height: 100vh;
     box-sizing: border-box;

 }

 .home-1-left{
     width: 400px;
 }

 .home-1 h1{
     font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     color:black;
     font-size: 55px;
 }

 .home-1 h3{
     font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     color:black;
     font-size: 25px;
     font-weight: 300;
     margin-top:-10px;
 }

 .home-1 img{
     margin:20px;
 }

 .home-1 button{
     width: 160px;
     height: 60px;
     border: none;
     background-color: #2F4F4F;
     border-radius: 5px;
     color:white;
     font-size: 17px;
     font-weight: 500;
 }

  .home-1 button:hover{
    background-color: black;
    cursor: pointer;
  }

 .signup-container{
     display: flex;
     flex-direction: column;
     font-family: 'Roboto', sans-serif;
     /* align-items: center;   */
     width: 800px;
     margin: 20px auto;
      font-weight: 100;
      margin-bottom: 40px;
 }

 .signup-container h1{
     font-size: 43px;
     margin: 10px;
     align-self: flex-start;
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
 }

.signup-container h3{
     font-size: 21px;
     margin: 10px;
     letter-spacing: 1px;
     font-weight: 100;
}
 
 .signup-container form{
     display: flex;
     flex-direction: column; 
    font-weight: 100;
    margin-top:-20px;
 }

  .signup-container input{
      width:685px;
      border-radius: 4px;
      border: 1px solid #B1C0C4;
      padding: 15px;
      box-sizing: border-box;
      margin: 15px 10px;
      font-size: 18px;
      height: 48px;
       font-weight: 100;
  }

  .signup-container input:focus{
    outline: none;
    border: 1px solid #52CF9A;

  }

  .signup-container div input{
      width:336px;
      margin-right:2px;
      box-sizing: border-box;
       font-weight: 100;
  }

   .signup-container button{
      width:685px;
      background-color:#52CF9A;
      box-sizing: border-box;
      margin: 5px;
      height: 48px;
      font-size: 18px;
      color:white;
      border-radius: 4px;
      border: none;
       margin: 10px;
       letter-spacing: 1px;
  }
   .signup-container button:focus{
       outline: none;
   }

  .signup-container button:hover{
      background-color:#3FA379;
      cursor: pointer;
  }

  

::placeholder {
  color:#B1C0C4;
  font-family: 'Roboto', sans-serif;

}

.signup-progress{
    display: flex;
    width: 800px;
    margin: 20px auto;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    letter-spacing: 0px;
    justify-content: initial;
    color: #B1C0C4;
    margin-top:40px;
     font-weight: 100;
}

.signup-progress div{
    margin: 20px 30px;
    box-sizing: border-box;
}

.signup-progress img{
    width: 35px;
    box-sizing: border-box;
    margin-right:50px;
    margin-left: 0px;
    padding-left: 0px;
}

.signup-progress div:first-of-type{
    color:black;
    font-weight: 300;
}

.error{
    color: #d44613;
    margin:10px;
}

.login-container{
    font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    width: 100%;   
    display:flex;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.login-container h1{
    font-size: 25px;
    letter-spacing: 0px;
    margin: 20px 10px;
}

.login-form{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    justify-content: center;
    padding: 40px;
     box-sizing: border-box;
}

.login-form form{
    display: flex;
    flex-direction: column;
}

.login-form form input{
    width:410px;
    border-radius: 4px;
    border:none;
    padding: 15px;
    box-sizing: border-box;
    margin: 15px 10px;
    font-size: 13px;
    height: 48px;
    background-color: #E8F1FE;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.login-form form input:hover{
    border: 1px solid #B1C0C4;

}
.login-image{
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100vh;
     box-sizing: border-box;
     overflow: hidden;
     height: 100%;
}

.login-form form input:focus{
    outline: none;
    border: 1px solid #52CF9A;
;
}

.login-form form label{
    font-size:13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    margin: 0 10px;
    padding: 0;
}

.login-form form button{
    width: 140px;
    height: 49px;
    margin: 10px;
    margin-top: 40px;
    font-size: 13px;
    background-color:#52CF9A;
    border:none;
    color:white;
    border-radius: 4px;
    font-weight: 500;
}

.login-form form button:hover{
    background-color:#5EEAAB; 
    cursor: pointer;
}

.login-form form button:focus{
   outline: none;
}

.login-error{
    margin: 0px 10px;
    padding-top: 30px;
    height: 60px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}



.nav-auth-bar{
    width: 100%;
    height: 66px;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    left:10;
    top:0;
    padding: 0 40px;
    padding-top:10px;
    background-color: white;
    z-index:20;
}

.nav-auth-bar-left, .nav-auth-bar-right{
    display: flex;
    position: relative;
    padding-left:0px;
}

.logo-black-auth{
    width: 28px;
    margin: 0;
    margin-right: 58px;
}

.nav-auth-bar-right li{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600!important;
}

.nav-auth-bar-right  button:hover{
    cursor: pointer;
}


.nav-auth-bar li{
     list-style: none;
     margin: 0 10px;
     color:black;
     font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
}


 .nav-auth-bar .logo{
     font-weight: 400;
     font-size: 25px;
     letter-spacing: -1px;
 }

 .search{
     display:flex;
     border: 1px solid #e3e3e3;
     border-radius: 4px;
     align-items: center;
     overflow:hidden;
 }

 .search:hover{
     box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
     border:none;
 }


 .search:focus{
     outline:none;
     border:none;
 }

 .search input{
     width: 480px;
     height:37px;
     padding-left: 10px;
     border: none;
     font-size: 12px;
 }


 .search-input::placeholder{
     color: #e3e3e3;
     font-size: 14px;
     font-family: 'Roboto', sans-serif;
     font-weight: 350;
 }
 .search-input:focus{
     outline:none;
 }

 .dropdown-trigger{
     position:relative;
     z-index:20;
 }

 .dropdown-trigger:hover .dropdown-items{
    display:block;
 }

 .dropdown-trigger:hover .account{
     color:#d44613;
     border-bottom: 5px solid #d44613;
     padding-bottom: 8px;
 }

 .dropdown-trigger:hover {
     cursor: pointer;
 }

 .dropdown-items li:first-of-type{
     font-size:16px;
     font-weight: 300;
 }

 .dropdown-items li{
    padding:10px;
 }

 .dropdown-items button{
    color:black;
     border:none;
     font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600!important;
 }

 .dropdown-items img{
     padding:0;
 }


 .dropdown-items{
    display:none;
    position:absolute;
    height:300px;
    width: 270px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    right:10px;
    background-color: white;
    top: 25px;
    padding-top:20px;
    z-index:100;
 }
 .dropdown-items li{
    padding-left:0;
 }


 .show-container{
     display:flex;
     justify-content: initial;
     margin-top: 115px;
    margin-left:80px;
    margin-right:80px;
    margin-bottom: 40px;
    min-width: 1050px;
 }

 .show-form{
     width:290px;
     height: 405px;
     box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
     box-sizing: border-box; 
     min-width:290px;
     position:fixed;
     right:120px;
 }

 .show-graph h1{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top:0px;
 }

  .show-graph h3{
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top:0px;
 }

 .stock-graph{
     width:700px;
     height: 300px;
 }

 .trade-form-header{
     display:flex;
     justify-content: flex-start;
     font-family: 'Roboto', sans-serif;
     font-size: 11px;
     font-weight:300;
     padding:10px;
 }

 .trade-form-header h1{
     margin-left:20px;
     padding-bottom:5px;
     
 }

 .trade-form-header h1:hover{
     cursor: pointer;
 }

 .trade-form input{
     width: 80px;
     height: 32px;
     border: 1px solid lightgray;
     border-radius: 4px;
     text-align:right;
     padding:4px;
    box-sizing: border-box;    
 }

 .shares, .market-price, .cost{
     display:flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .trade-form label{
     font-family: 'Roboto', sans-serif;
     font-size: 13px;
     font-weight:300;
 }

 .shares{
     margin-bottom:20px;
 }

  .trade-form h4{
    font-family: 'Roboto', sans-serif;
     font-size: 13px;
     font-weight:500;
  }

  .trade-form button{
      width:230px;
      height:50px;
      background-color: #d44613;
      font-family: 'Roboto', sans-serif;
      color:white;
      font-size:15px;
      border:none;
      border-radius:4px;
      padding:0;
      margin:0;
    margin-top:20px;
  }


  .trade-form button:hover{
    cursor: pointer;
    background-color: #F3613E;
  }

  .trade-message{
      padding:10px;
      font-family: 'Roboto', sans-serif;
    font-size: 14px;
     font-weight:500;
     margin-top:20px;
     color: #52CF9A;
  }

  .form-tab{
      padding:30px;
      box-sizing: border-box;  
      position:relative;
  }

  .buy-form, .sell-form{
      position: absolute;
      display:none;
  }


  .active{
      display:inline-block;
  }

  .active-tab{
      border-bottom: 3px solid #F3613E;
  }

  .article-item{
      display:flex;
      justify-content: space-between;
      align-items: flex-start;
      height:160px;
      padding:20px;
      box-sizing: border-box;
      border-radius: 2px;
  }

  .article-item:hover{
    background-color: lightgray;
    }
  .article-item img{
      width:170px;
      overflow: hidden;
      max-height:120px;
  }

  .article-item-left{
      max-width: 450px;
      padding:10px;
      padding-top:0;
      margin-left:0;
      padding-left:0;
  }

  .article-item-right{
      height:160px;
  }

  .article-item h4 {
      font-family: 'Roboto', sans-serif;
      font-size:11px;
      display: inline;
      margin-left:0;
      padding-left:0;
  }

    .article-item h2 {
      font-family: 'Roboto', sans-serif;
      font-size:14px;
      margin-left:0;
      padding-left:0;
  }

  hr {
      /* width:3px; */
      border: 1px solid black;
  }