/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span,
 a ul, li {
  margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

.nav-bar{
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    left:10;
    top:0;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.logo{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.nav-bar-left, .nav-bar-right{
    display: flex;
    position: relative;
    padding-left:0px;
}

.nav-bar-right button{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color:black;
    font-size: 16px;
    border:none;
    height: 45px;
}

.demo-login button:hover{
    background-color: #3FA379;
    color: white!;
}

.nav-bar-right  button:hover{
    color:#3FA379;
    cursor: pointer;
}

.nav-bar-right:last-child{
    color:red;
}


.nav-bar-right .demo-login{
    width: 130px;
    background-color: #52CF9A;
    border-radius: 4px;
}


 .nav-bar li{
     list-style: none;
     margin: 0 10px;
     color:black;
     font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}


 .nav-bar .logo{
     font-weight: 400;
     font-size: 25px;
     letter-spacing: -1px;
 }

 .home-1{
     height:800px;
     background-color: #52CF9A;
     padding-top:100px;
     display: flex;
     justify-content: center;

 }

 .home-1-left{
     width: 400px;
 }

 .home-1 h1{
     font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     color:black;
     font-size: 55px;
 }

 .home-1 h3{
     font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     color:black;
     font-size: 25px;
     font-weight: 300;
 }

 .home-1 img{
     margin:20px;
 }

 .signup-container{
     display: flex;
     flex-direction: column;
     font-family: 'Roboto', sans-serif;
     /* align-items: center;   */
     width: 800px;
     margin: 20px auto;
      font-weight: 100;
 }

 .signup-container h1{
     font-size: 43px;
     margin: 10px;
     align-self: flex-start;
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
 }

.signup-container h3{
     font-size: 21px;
     margin: 10px;
     letter-spacing: 1px;
     font-weight: 100;
}
 
 .signup-container form{
     display: flex;
     flex-direction: column; 
      font-weight: 100;
 }

  .signup-container input{
      width:685px;
      border-radius: 4px;
      border: 1px solid #B1C0C4;
      padding: 15px;
      box-sizing: border-box;
      margin: 15px 10px;
      font-size: 18px;
      height: 48px;
       font-weight: 100;
  }

  .signup-container input:focus{
    outline: none;
    border: 1px solid #52CF9A;

  }

  .signup-container div input{
      width:336px;
      margin-right:2px;
      box-sizing: border-box;
       font-weight: 100;
  }

   .signup-container button{
      width:685px;
      background-color:#52CF9A;
      box-sizing: border-box;
      margin: 5px;
      height: 48px;
      font-size: 18px;
      color:white;
      border-radius: 4px;
      border: none;
       margin: 10px;
       letter-spacing: 1px;
  }
   .signup-container button:focus{
       outline: none;
   }

  .signup-container button:hover{
      background-color:#3FA379;
      cursor: pointer;
  }

  

::placeholder {
  color:#B1C0C4;
  font-family: 'Roboto', sans-serif;

}

.signup-progress{
    display: flex;
    width: 800px;
    margin: 20px auto;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    letter-spacing: 0px;
    justify-content: initial;
    color: #B1C0C4;
    margin-top:40px;
     font-weight: 100;
}

.signup-progress div{
    margin: 20px 30px;
    box-sizing: border-box;
}

.signup-progress img{
    width: 35px;
    box-sizing: border-box;
    margin-right:50px;
    margin-left: 0px;
    padding-left: 0px;
}

.signup-progress div:first-of-type{
    color:black;
    font-weight: 300;
}

.error{
    color: #d44613;
    margin:10px;
}

.login-container{
    font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    width: 100%;   
    display:flex;
    align-items: center;
    height: 100vh;
}

.login-container h1{
    font-size: 25px;
    letter-spacing: 0px;
    margin: 20px 10px;
}

.login-form{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    justify-content: center;
    padding: 40px;
}

.login-form form{
    display: flex;
    flex-direction: column;
}

.login-form form input{
    width:410px;
    border-radius: 4px;
    border:none;
    padding: 15px;
    box-sizing: border-box;
    margin: 15px 10px;
    font-size: 13px;
    height: 48px;
    background-color: #E8F1FE;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.login-form form input:hover{
    border: 1px solid #B1C0C4;

}
.login-image{
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.login-form form input:focus{
    outline: none;
    border: 1px solid #52CF9A;
;
}

.login-form form label{
    font-size:13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    margin: 0 10px;
    padding: 0;
}

.login-form form button{
    width: 140px;
    height: 49px;
    margin: 10px;
    margin-top: 40px;
    font-size: 13px;
    background-color:#52CF9A;
    border:none;
    color:white;
    border-radius: 4px;
    font-weight: 500;
}

.login-form form button:hover{
    background-color:#5EEAAB; 
    cursor: pointer;
}

.login-form form button:focus{
   outline: none;
}

.login-error{
    margin: 0px 10px;
    padding-top: 30px;
    height: 60px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}